/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.json
composer.json package.json
phpunit.xml
database
.idea/vcs.xml
app/
composer.json
public/
routes/
tests/
artisan*
composer.lock
package.json
README.md
server.php
vendor/
bootstrap/
config/
phpunit.xml
storage/
webpack.mix.js
.idea
app
.editorconfig
.env.example
.gitattributes
.idea/.gitignore
.idea/php.xml
.styleci.yml
.idea/workspace.xml
